<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <servlet-mapping>
        <servlet-name>LoginWithGoogleServletController</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>AddQuestionServletController</servlet-name>
        <servlet-class>questionController.detail.AddQuestionServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionServletController</servlet-name>
        <servlet-class>questionController.detail.EditQuestionServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServletController</servlet-name>
        <servlet-class>questionController.detail.DeleteQuestionServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectServletController</servlet-name>
        <servlet-class>subjectControler.detail.AddSubjectServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubjectServletController</servlet-name>
        <servlet-class>subjectControler.detail.EditSubjectServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubjectServletController</servlet-name>
        <servlet-class>subjectControler.detail.DeleteSubjectServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyllabusMangementServlet</servlet-name>
        <servlet-class>syllabusController.detail.SyllabusMangementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyllabusDetailsServlet</servlet-name>
        <servlet-class>syllabusController.detail.SyllabusDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServletController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServletController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>guestController.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletController</servlet-name>
        <servlet-class>accountController.detail.LoginServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServletController</servlet-name>
        <servlet-class>accountController.detail.RegisterServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServletController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SyllabusMangementServlet</servlet-name>
        <url-pattern>/syllabusmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SyllabusDetailsServlet</servlet-name>
        <url-pattern>/syllabusdetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSubjectServletController</servlet-name>
        <servlet-class>subjectControler.detail.AddSubjectServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubjectServletController</servlet-name>
        <servlet-class>subjectControler.detail.EditSubjectServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubjectServletController</servlet-name>
        <servlet-class>subjectControler.detail.DeleteSubjectServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyllabusMangementServlet</servlet-name>
        <servlet-class>syllabusController.detail.SyllabusMangementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyllabusDetailsServlet</servlet-name>
        <servlet-class>syllabusController.detail.SyllabusDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchviewcombosubject</servlet-name>
        <servlet-class>combosubjectController.searchviewcombosubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewcombosubject</servlet-name>
        <servlet-class>combosubjectController.viewcombosubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcombosubject</servlet-name>
        <servlet-class>combosubjectController.addcombosubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchcombosubject</servlet-name>
        <servlet-class>combosubjectController.searchcombosubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findcombo</servlet-name>
        <servlet-class>combosubjectController.findcombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listallcombo</servlet-name>
        <servlet-class>combosubjectController.listallcombo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewcombosubject</servlet-name>
        <url-pattern>/viewcombosubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcombosubject</servlet-name>
        <url-pattern>/addcombosubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchviewcombosubject</servlet-name>
        <url-pattern>/searchviewcombosubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionServletController</servlet-name>
        <url-pattern>/editquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServletController</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServletController</servlet-name>
        <url-pattern>/deletequestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectServletController</servlet-name>
        <url-pattern>/addsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubjectServletController</servlet-name>
        <url-pattern>/editsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubjectServletController</servlet-name>
        <url-pattern>/deletesubject</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
</web-app>
